{% extends "layouts/default.html.twig" %}

{% set page_active = "about" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("ABOUT")}}{% endblock %}

{% block page_description %}All about glinnO.{% endblock %}

{% block body_matter %}

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="{{ assets.url('assets://local/core/images/intro.jpg') }}" height="750" width="450" alt="Image of Venue 4">
        </div>
        <div class="col-md-6">
            <h2>About glinnO</h2>
            <p>Expand more later</p>
            <p>GlinnO is a system for musicians and venues to add events to a calendar system in Omaha, Nebraska. This system can be viewed by users, who can then find when and where these events are taking place.</p>
            <p>As a user, you can browse events within a 1 mile radius happening the same day. You can also favorite artists or venues. Additionally, you can browse the full calendar, filtering by genre, artist, and venue.</p>
            <p>As an artist or venue, you can add, edit or delete your own events. When doing so, you can include an event name, the location, the start and ending times, your website, and any other information you want to provide to users.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="{{ assets.url('assets://local/core/images/nick-lauber.jpg') }}" alt="Photo of Nicholas Lauber">
                <div class="caption">
                    <h3>Nicholas Lauber<br>
                        <small>Creator</small>
                    </h3>
                    <p>I am the creator of glinnO. I hope you enjoy using it!</p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/nicholas.lauber93"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="https://twitter.com/link9313"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Our Customers -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">More Images</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="{{ assets.url('assets://local/core/images/venue-1.jpg') }}" height="500" width="300" alt="Logo of Venue 1">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="{{ assets.url('assets://local/core/images/venue-2.jpg') }}" height="500" width="300" alt="Logo of Venue 2">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="{{ assets.url('assets://local/core/images/venue-3.jpg') }}" height="500" width="300" alt="Logo of Venue 3">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="{{ assets.url('assets://local/core/images/venue-4.jpg') }}" height="500" width="300" alt="Logo of Venue 4">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="{{ assets.url('assets://local/core/images/venue-5.jpg') }}" height="500" width="300" alt="Logo of Venue 5">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="{{ assets.url('assets://local/core/images/venue-6.jpg') }}" height="500" width="300" alt="Logo of Venue 6">
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
